<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sistema emprestimo - Dashboard</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/datepicker3.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/personal.css" rel="stylesheet">
	<link rel="icon" href="/img/nav-brand.png">
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<% include components/navbar %>	
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/dasboard/index">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Edição de Equipamento</li>
			</ol>
		</div><!--/.row-->
        
        <div class="row">
            <div class="col-lg-11 col-md-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Formulário para edição de equipamento 
                    </div>
                    <br>
                    <div class="panel-body">
                        <div id="mensagens"></div>
                        <form id="formEquipamento" class="form-horizontal">
                            <fieldset>
                                <!-- Nome input-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input value="<%=equipamentoSelecionado.nome%>" id="nomeEquipamento" type="text" placeholder="Nome do equipamento" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <!-- Quantidae total-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input value="<%=equipamentoSelecionado.qntdTotal%>" id="qntdTotal" name="name" type="number" placeholder="Quantidade desse equipamento" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <!-- Categoria-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8" id="selectCategoria">
                                            <select name="selectCategoria" class="form-control" id="sel1">
                                                <option = "Nenhuma categoria">Nenhuma categoria</option>
                                                <%for(let i = 0; i<categorias.length; i++){%>
                                                    <%if(categorias[i]===equipamentoSelecionado.categoria){%>
                                                        <option value="<%=categorias[i]%>" selected><%=categorias[i]%></option>
                                                    <%}else{%>
                                                        <option value="<%=categorias[i]%>"><%=categorias[i]%></option>
                                                    <%}%>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button id="btnNovaCategoria" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
                                        </div>
                                    </div>
                                    
                                    <div class="row" id="novaCategoria">
                                        <br>
                                        <div class="col-md-offset-2 col-md-8">
                                            <input id="novaCategoriaDado" type="text" placeholder="Digite o nome da nova categoria" class="form-control">
                                        </div>
                                    </div>
                            
                                </div>

                                <!-- Código total-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input value="<%=equipamentoSelecionado.codigo%>" id="codigo" name="name" type="text" placeholder="Código do equipamento" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button type="submit" class="btn btn-default btn-md pull-right">Concluir edição</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div> 
            </disv>
        </div><!--/.row-->
       
		
    
    </div>	<!--/.main-->
	
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
        $(document).ready(function(){
            let flagBotaoNovaCategoria = false;
            $('#novaCategoria').hide();
            $('#btnNovaCategoria').click(function(event){
                event.preventDefault();
                flagBotaoNovaCategoria = !flagBotaoNovaCategoria;
                if(flagBotaoNovaCategoria) {
                    $('#novaCategoria').show();
                }else {
                    $('#novaCategoria').hide();
                    $("#novaCategoriaDado").val('');
                }
            });
            $('#formEquipamento').submit(function(event){
                event.preventDefault();
                let id = `<%=equipamentoSelecionado._id%>`;
                let nome = $('#nomeEquipamento').val();
                let qntdTotal = $('#qntdTotal').val();
                let categoria = $('select[name=selectCategoria]').val();
                let novaCategoria = $('#novaCategoriaDado').val();
                let codigo = $('#codigo').val();
                if(novaCategoria!=="")categoria=novaCategoria;
                $.ajax({
                   url:"/dashboard/editar-equipamento",
                   type:"post",
                   data:{
                       id,
                       nome,
                       qntdTotal,
                       categoria,
                       codigo
                   },
                   success: function(data){
                       if(data.erroForm){
                            let erros = data.erros;
                            let msg = "";
                            for(let i=0; i< erros.length; i++){
                                msg += erros[i].msg + '<br>';
                            }
                            let html = `<div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <center>${msg}</center>
                                        </div>`;
                                $('#mensagens').append(html);
                       }
                       if(data.status){
                            let html = `<div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <center>${data.msg}</center>
                                        </div>`;
                            $('#mensagens').append(html);
                       }
                   },
                   error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus); alert("Error: " + errorThrown);
                    } 
                });
            })
        });
    </script>	
</body>
</html>